# FILE PATTERNS

# Vim swap files
*.swp

# DIRECTORIES

# TODO Change description once swapped to jest as Istanbul is no longer used
# directly.
# Istanbul lcov coverage output
.nyc_output/
coverage/
# Build directory
dist/
node_modules/
